h1.text-lg About
section
  | I'm Nafaa from
  a< href="https://goo.gl/maps/5UmtAkA7gcAtPDrs7" class="hover:text-red-500 font-bold" target="_blank" Jijel
  | , that nice city in
  a<> href="https://goo.gl/maps/i3kgqXZ3zUaqzsjc9" class="hover:text-red-500 font-bold" target="_blank" Algeria.
  | I've been a Ruby On Rails developer for over
  strong
    em=<> years_since(DateTime.parse('2014/01/01'))
  |. I have VueJs in my toolbelt as well.
  '
  | As a freelancer I've been working with many clients from over the world on projects of different scales.
  '
  | You can see the list of projects I worked on in the
  a< href="/projects" class="hover:text-red-500 font-bold" projects page


